*{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue" , sans-serif;
}

body{
    background-image: url(https://img.freepik.com/foto-gratis/piedra-textura-fondo_632498-719.jpg);
    background-size: 100%;
}
header{
    background-color: rgba(22, 21, 21, 0.877);
    height: 90px;
}


.liContainer{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    height: 100%;
}

.liContainer li{
    list-style: none;
}

.liContainer li a{
    text-decoration: none;
    color: whitesmoke;
}

.logoContainer{
    height: 105px;
    width: 105px;
}
.logo {
    width: 100%;
    height: 100%;
}


h1{
    font-size: 60px;
    text-align: left;
    margin-left: 85px;
    margin-top: 60px;
}

h2{
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

.sectionCards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}
.card{
    height: 300px;
    width: 290px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}
.imgProducto{
    width: 100%;
    height: 50%;
}
.cardContainer{
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(auto-fill, minmax(320px , 1fr));
}

.comprar{
    border-radius: 30px;
    background-color: aquamarine;
    padding: 5px;
    color: black;
    font-size: 20px;
}
.priceSize{
    font-size: 35px;
}



.logoWp{
    height: 150%;
    width: 150%;
}


.subscripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 75px;
    background-color: orangered;
    border: 1px solid black;
    text-align: center;
}

.buttonSubscripcion{
    color:black;
    padding: 5px;
    background-color: white;
    font-size: 28px;
}
.containerInfo{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.textSize{
    font-size: 24px;
}


.sticky{
    position: sticky;
    height: 50px;
    width: 50px;
    left: 90%;
    bottom: 0%;
    margin: 10px;
}

.logoContacto{
    height: 10%;
    width: 10%;
    margin-left: 10%;
}


.containerInfoNosotros{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    padding: 5px;
}

.pContainer{
    width: 420px;
}

.pContainer2{
    position: relative;
    justify-content: space-around;
    width: 400px;
    left: 38%;
    margin-top: 15px;
}

form fieldset div legend{
    text-align: center;
    margin-top: 15px;
}

h4{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 40px;
}

.pContainer3{
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(auto-fill, minmax(320px , 1fr));
    margin-left: 38%;
}

.sectionCardsConfirmar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 35%;
}

.buttonConfirmarCompra{
    color:black;
    padding: 5px;
    background-color: white;
    font-size: 28px;
    margin-left: 43%;
    margin-top: 5%;
}

.comprar a:hover{
    background-color: lightskyblue;
    border-color: black;
    color: black;
}

.sectionCards{
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}


.piePagina{
    width: 100%;
    background-color: rgb(190, 186, 186);
}

.piePagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.box{
    margin-left: 30%;
}

.piePagina .grupo1 .box figure{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piePagina .grupo1 .box figure img{
    width: 125px;
    height: 125px;
}

.piePagina .grupo1 .redSocial a{
    padding: 5px;
}

.piePagina .grupo2{
    padding: 15px 10px;
    text-align: center;
}

.piePagina .grupo2 small{
    font-size: 15px;
}


/*MOBILE */
@media screen and (max-width:450px ) {
    .piePagina .grupo1{
        width: 30%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .box{
        justify-content: center;
    }

    .logoContacto{
        width: 30px;
        height: 30px;
    }
}

/*TABLET */
@media screen and (min-width:451px ) and (max-width: 1023px) {
    .piePagina .grupo1{
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .box{
        margin-left: 38%;
    }

    .logoContacto{
        width: 30px;
        height: 30px;
    }
}


