@use "assets/general";
@use "assets/headerNav";
@use "index";
@use "tienda";
@use "nosotros";
@use "contacto";
@use "carrito";
@use "assets/footer";

/*MOBILE */
@media screen and (max-width:450px ) {
    h1{
        margin-left: 55px;
    }

    .sectionCards{
        margin-left: 40px;
    }

    .piePagina .grupo1{
        width: 30%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        
        .box{
            justify-content: center;
            margin-left: 10%;
        }
    }

    .containerInfoNosotros{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    
        .pContainer{
            display: flex;
            height: 100%;
            width: 100%;
            padding: 15px;
        }

        .ifrResponsive{
            position: relative; 
            overflow: hidden;
            padding-top: 56.25%;

            .contIfrRes{
                position: absolute;
                top: 0;
                left: 6%;
                width: 85%;
                height: 85%;
                border: 0;
            }
        }
    }

    .cardContainer{
        margin-left: 5px;
    }

    .cardContainerConfirmar{
        margin-left: 35px;
    }

    .buttonConfirmarCompra{
        color:black;
        padding: 5px;
        background-color: white;
        font-size: 28px;
        margin-left: 115px;
        margin-top: 5%;
    }
    
    .container{
        margin-left: -5px;
    }

    .logoContacto{
        width: 30px;
        height: 30px;
    }
}

/*TABLET */
@media screen and (min-width:451px ) and (max-width: 1023px) {
    .sectionCards{
        margin-left: 75px;
    }

    .piePagina .grupo1{
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;

        .box{
            margin-left: 38%;
        }
    }

    .containerInfoNosotros{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;

        .pContainer{
            display: flex;
            height: 100%;
            width: 100%;
            padding: 5px;
        }

        .ifrResponsive{
            position: relative; 
            overflow: hidden;
            padding-top: 56.25%;
        
            .contIfrRes{
                position: absolute;
                top: 0;
                left: 10%;
                width: 85%;
                height: 85%;
                border: 0;
            }
        }
    }

    .buttonConfirmarCompra{
        color:black;
        padding: 5px;
        background-color: white;
        font-size: 28px;
        margin-left: 30%;
        margin-top: 5%;
    }

    
    .container{
        margin-left: 25%;
    }

    .logoContacto{
        width: 30px;
        height: 30px;
    }
}